/* CLASE QUE CAMBIA LOS BOTONES DEL FOOTER*/
.btn-primary {
    background-color: hsl(135, 55%, 60%);
    border-color: #ffffff;
    color: #000b49;
  }



  
   /*Responsividad*/
      
   @media (min-width: 768px) { 
    body{
      background-color: #ffffff;
    }
  }
   
  
  @media (min-width: 1024px) { 
    body{
      background-color: #ffffff;
    }
  }
   
  
  @media (min-width: 1200px) {
    body{
      background-color: #ffffff;
    }
   }