header{
    background-color:beige;
}
.nosotros{
    text-align: justify;
    line-height: 1em;
}

        body { background-color:beige;} 

        .info{
            text-align: center;
            line-height: 1em;
            
        }
