.nosotros{
    text-align: justify;
    line-height: 1em;
    font-family: Helvetica;
}

        body { background-color:rgb(255, 255, 255);} 

        .info{
            text-align: center;
            line-height: 1em;
            
        }
        
         