* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    color: blue;


}

body {
    min-height: 100%;
    color: rgb(0, 60, 255);
}

.form-control{
    text-align: left;
}
.ingr{
    text-align: center;
    color: #15ff00;
}
.tituloLog{
    color: #15ff00;
}


html {
    height: 100%;
    font-family:'Poppins';
}

a {
    text-decoration: none;
    color: #15ff00;
}


.navbar {
    grid-area: navbar;
    background-color:#ffffff;

}

/*Celular*/
@media(max-width: 899px) {
    .topnav {
        background-color: #ffffff;
        grid-area: topnav;
        height: 0;
    }
    .navbar-toggler-icon {
        display: block;
        margin: 0 auto;
        
        
      }
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: #15ff00;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        text-align: center; 
      }
      
      
    .navbar {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 50% 25%;
        grid-template-areas:
            'menuBoton img-container login-container'
            'topnav     topnav       topnav';
        height: auto;    
    }

    .logoC {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    #login {
        width: 50px;
        height: 50px;
        margin: 15%;
    }

    #carrito {
        width: 50px;
        height: 50px;
    }

    .menuBoton {
        grid-area: menuBoton;
    }

    .img-container {
        grid-area: img-container;
    }

    .login-container {
        grid-area: login-container;
        padding-right: 5%;
    }


    .lista {
        list-style-type: none;
    }


    .enlaces-container {
        display: none;
    }

     .grid-container {
        display: grid;
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: auto;
        grid-template-areas:
            'navbar'
            'footer1';
        gap: 0px;
        height: 100%;
    }
}


/*Escritorio*/
@media(min-width:900px) {
    .navbar-toggler {
        display: none;
    }
    .navbar-toggler-icon{
        display: none;
    }
    #myLinks{
        display: none;
    }
    .navbar{
        display: grid;
        grid-template-rows:60% 40%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
        grid-template-areas: 
        '. img-container img-container img-container login-container'
        '. enlaces-container enlaces-container enlaces-container login-container';
    }

    /* NAVBAR */
    .img-container {
        grid-area: img-container;
        padding: 15px;
    }

    .logoC {
        width: 100%;
        height: 100px;
        object-fit: contain;
    }

    .enlaces-container {
        grid-area: enlaces-container;

    }

    .login-container {
        grid-area: login-container;
    }

    .lista {
        list-style-type: none;
        display: inline;
        object-fit: contain;
    }

    #login {
        width: 30px;
        height: 50px;
        padding-bottom: 15px;
    }

    #carrito {
        width: 30px;
        height: 40px;
    }

    .grid-container {
        display: grid;
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            'navbar navbar'
            'footer1 footer1';
        gap: 0px;
        height: 100%;
    }
   

}




