.formulario{
	box-sizing: border-box;
	text-align: center;
	text-justify: center;
	font-family: Raleway;
	padding:0;
	margin:0;

}

/*--formulario--*/

.row{
	
    display: flex;
    flex-wrap: wrap;
	padding: 35px 16px 36px 16px;
	margin-right: 150px;
	margin-left: 150px;
  
} /*Clase de los campos del formulario*/

.form-control{
	border-color:hsl(135, 55%, 60%);
	
} /* Clase del borde de cada formulario*/

.btn-outline-primary {
	background-color: hsl(135, 55%, 60%);
	border-color: #ffffff;
    color: #000b49;
} /*Clase del botón*/
