body { 
	/* background-color: rgb(255, 235, 208);*/
	/*background:linear-gradient(30deg, rgb(236, 252, 241),rgb(188, 255, 214), rgb(137, 252, 181), rgb(76, 255, 121));*/
	   
    line-height: 1em;
	font-family: 'Raleway';
} 

/*---CONTACTO---*/

.contacto{
	text-align: center;
}

/*--FORMULARIO--*/


.formulario-container{
	background-image:url("/img/fondocolibri.jpg");
	background-size: cover;
	background-repeat: repeat;
	font-family: 'Raleway';
}

.card {
	border:none;
}
.text-center{
	color: #4ED957;

}
label{
	margin-top: 10px;
	margin-bottom: 8px;
	text-align: center;
	
}

form{
	display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 font-family: 'Raleway';

   }

   form .input1 {
	width: 90%;
	margin: 0.5rem;
  }


.form-control{
	border-color:hsl(135, 55%, 60%);
	border-radius: 20px;
	margin: 0px 0px 17px 0px;
	
} /*cambia el color del borde*/

.form-row{
	margin:40px;
}

textarea{
	width:100%;
	height:100px;
	line-height:250%;
	resize:none;
	
}

.btn.btn-primary{

	width: 150px;
	height: 50px;
	letter-spacing: 1px;
	font-size: 11px;
	
}

/*Responsividad*/

#formu{
	display: flex;
	justify-content: flex-start

 }

 #contac{
	display: flex;
	justify-content: flex-end;

 }

.oaxaca-img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.ropa-img{
	width: 80%;
	height: 80%;
	object-fit: contain;
	margin-left: 100px;
}

#contenedor {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  }
  
  #contenedor > div {
	width: 50%;
  }