
nav{
    display: flex;
    justify-content: center;
    
    
   
   


}

li,a{
    font-family:"Raleway";
    font-weight: bold;
    font-size: 17px;
    color:white;
    text-decoration: none;
    align-items: center;
    padding-left: 10px;
    

}
header{
    width: 100%;
    height: 110px;
    background-color: #151515;
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style: none;
    position: sticky;
    top:0;

}
 

  .navbar .nav-link.active,
  .navbar .nav-item:hover .nav-link {
    color: #4ED957; 
  }