.navbar {
    background-color: rgb(190, 190, 190); 
  }
  body{
    background-color: #ffffff;
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #0401be; 
  }
  

  .navbar .nav-link.active,
  .navbar .nav-item:hover .nav-link {
    color: #4ED957; 
  }
  

  .btn-primary {
    background-color: hsl(135, 55%, 60%); 
    border-color: #ffffff;
    color: #000b49; 
  }
  


footer {
    background-color: #84e5a1; 
  }
  
  footer p {
    color: #000000; 
  }
  
.responsive-image {
    max-width: 100%;
    height: auto;
    max-height: 150px; 
  }



 
